<body>
    <div class='login-wrapper'>
        <div class='login-container'>
            <div class='login-title'>启文达多链融合大屏展示DEMO</div>
            <div class='login-input-box'>
                <div class='input-box'>
                    <img class='icon' src='../../img/user.png' />
                    <input class='input' type='text' placeholder='请输入接口URI' name="http_url" />
                </div>
                <div class='input-box'>
                    <img class='icon' src='../../img/pass.png' />
                    <input class='input' type='text' placeholder='请输入TOKEN' name="token" />
                </div>
                <div class="ui fluid positive icon button" ng-click="login()">
                    进入大屏显示
                </div>
            </div>
        </div>
    </div>
</body>