<body>
    <div class='login-wrapper'>
        <div class='login-container'>
            <div class='login-title'>启文达多链融合大屏展示DEMO</div>
            <div class='login-input-box'>
                <div class='input-box'>
                    <input class='input' type='text' placeholder='请输获取业务流程上链数据接口' name="uchain_url" />
                </div>
                <div class='input-box'>
                    <input class='input' type='text' placeholder='输入获取用户下链数据接口' name="dchain_url" />
                </div>
                <div class='input-box'>
                    <input class='input' type='text' placeholder='请输入业务流程TOKEN' name="token" />
                </div>
                <div class="ui fluid positive icon button" ng-click="login()">
                    进入大屏显示
                </div>
            </div>
        </div>
    </div>
</body>