<body>
    <div class="view-container medicare">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title" style="-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;">
                    启文达多链融合平台业务流程数据监控
                </h1>
            </div>
            <div class="wrapper">
                <div class="content">
                    <div class="col col-l mycol-l">
                        <div class="xpanel-wrapper xpanel-wrapper-60">
                            <div class="xpanel xpanel-l-t">
                                <div class="title">业务流程概览</div>
                                <div class="subtitle">业务流程名称：{{businessInfo.business_flow_name}}</div>
                                <div class="subtitle">所属应用：{{businessInfo.app_name}}</div>
                                <div class="subtitle">创建者：{{businessInfo.createdby_user}}</div>
                                <div class="subtitle">创建时间：{{businessInfo.createdAt| date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                <div class="subtitle">更新时间：{{businessInfo.updatedAt| date:'yyyy-MM-dd HH:mm:ss'}}</div>
                            </div>
                        </div>
                        <div class="xpanel-wrapper xpanel-wrapper-40">
                            <div class="xpanel xpanel-l-b">
                                <div class="title">区块链记录</div>
                                <div style="overflow-y: scroll;height: 80%;">
                                    <div ng-repeat="block in blockList" style="color: white;">
                                        <div class="eventbox" ng-class="{'darkblue': block.number % 2 == 0}">
                                            <div class="eventmsgid eventmsggreen2">
                                                载体区块上链时间:{{1000| date:'yyyy-MM-dd HH:mm:ss' }}
                                            </div>
                                            <div class="eventmsgtitle">
                                                存证信息散列编号:
                                            </div>
                                            <div class="eventmsgcontent">
                                                <div style="color:white;font-size: 0.8rem;text-overflow:ellipsis;overflow-x:hidden;;white-space:nowrap" ng-repeat="tx in block.transactions">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-c mycol-c">
                        <div class="xpanel-wrapper xpanel-wrapper-3">
                        </div>
                        <div class="xpanel-wrapper xpanel-wrapper-62">
                            <div class="xpanel no-bg">
                                <div class="fill-h map" id="cityChart"></div>
                            </div>
                        </div>
                        <div class="xpanel-wrapper xpanel-wrapper-35">
                            <div class="xpanel xpanel-c-b">
                                <div class="title title-long">启文达区块链中台</div>
                                <!-- <div class="fill-h" id="timeDistChart"></div> -->
                                <div style="height: 80%;overflow: auto;">
                                    <div ng-repeat="txInfo in txInfo_list">
                                        <div class="eventmsg">
                                            <div class="eventbox">
                                                <div class="eventmsgid eventmsgblue">
                                                    {{txInfo.blockchain_symbol}}:{{txInfo.txhash}}
                                                </div>
                                                <div class="eventmsgcontent">
                                                    <span>{{txInfo.unit_type}}</span>
                                                    <span>{{txInfo.from_user}}</span>
                                                    <span>{{txInfo.to_user}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-r mycol-r">
                        <div class="xpanel-wrapper xpanel-wrapper-60">
                            <div class="xpanel xpanel-r-t">
                                <div class="title">医保信息接收端</div>
                                <div class="subtitle">当前医保系统：{{ currentagency }}</div>
                                <div ng-repeat="covered in coveredevents">
                                    <div class="eventmsg">
                                        <div class="eventbox">
                                            <div class="eventmsgid" ng-class="{'eventmsggreen3' : covered.real_time==3, 'eventmsggreen2' : covered.real_time==2, 'eventmsggreen1' : covered.real_time==1, 'eventmsgblue' : covered.real_time==0, 'newmsg': covered.new_item}">

                                            </div>
                                            <div class="eventmsgtitle2">
                                                <span></span>
                                                <span class="eventmsgstatus">
                                             
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="xpanel-wrapper xpanel-wrapper-40" style="height:{{xpanel_wrapper_class}}%;">
                            <div class="xpanel xpanel-r-m">
                                <div class="title">医保端统计</div>
                                <div ng-repeat="agency in insuranceStat">
                                    <div class="linemsg">
                                        =
                                    </div>
                                    <div class="linemsg">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <a href="medicare">大屏</a> -->
    <!-- <medicare></medicare> -->
</body>