<body>
    <div class="view-container medicare">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title" style="-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;">
                    启文达多链融合平台业务流程数据监控
                </h1>
            </div>
            <div class="wrapper">
                <div class="content">
                    <div class="col col-l mycol-l">
                        <div class="xpanel-wrapper xpanel-wrapper-50">
                            <div class="xpanel xpanel-l-t">
                                <div class="title">业务流程概览</div>
                                <div class="subtitle">当前用户：{{user_profile.username}}</div>
                                <div class="subtitle">业务流程名称：{{businessInfo.business_flow_name}}</div>
                                <div class="subtitle">所属应用：{{businessInfo.app_name}}</div>
                                <div class="subtitle">创建者：{{businessInfo.createdby_user}}</div>
                                <div class="subtitle">创建时间：{{businessInfo.createdAt| date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                <div class="subtitle">更新时间：{{businessInfo.updatedAt| date:'yyyy-MM-dd HH:mm:ss'}}</div>
                            </div>
                        </div>

                    </div>
                    <div class="col col-c mycol-c">
                        <div class="xpanel-wrapper xpanel-wrapper-3">
                        </div>
                        <div class="xpanel-wrapper xpanel-wrapper-50">
                            <div class="xpanel no-bg">
                                <div class="fill-h map" id="cityChart"></div>
                            </div>
                        </div>
                        <div class="xpanel-wrapper xpanel-wrapper-45">
                            <div class="xpanel xpanel-c-b">
                                <div class="title title-long">业务数据上链监控</div>
                                <!-- <div class="fill-h" id="timeDistChart"></div> -->
                                <div style="height: 80%;overflow: auto;">
                                    <div ng-repeat="txInfo in txInfo_list">
                                        <div class="eventmsg">

                                            <div class="box">
                                                <div class="txhash-wapper">
                                                    <span class="blockchain-symbol">{{txInfo.blockchain_symbol}}:</span>
                                                    <span class="txhash">{{txInfo.txhash}}</span>
                                                </div>
                                                <div class="content">
                                                    <span class="from-user">{{txInfo.from_user}}</span>
                                                    <span>发送</span>
                                                    <span class="unit-type">{{txInfo.unit_type}}</span>
                                                    <span>到</span>
                                                    <span class="to-user">{{txInfo.to_user}}</span>
                                                </div>
                                            </div>

                                            <!-- <div class="eventbox">
                                                <div class="eventmsgid eventmsgblue">
                                                    <span class="title">{{txInfo.blockchain_symbol}}</span>
                                                    :{{txInfo.txhash}}
                                                </div>
                                                <div class="eventmsgcontent">
                                                    <div>
                                                        
                                                    </div>
                                                    <span>{{txInfo.unit_type}}</span>
                                                    <span>{{txInfo.from_user}}</span>
                                                    <span>{{txInfo.to_user}}</span>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-r mycol-r">
                        <div class="xpanel-wrapper xpanel-wrapper-50">
                            <div class="xpanel xpanel-l-b">
                                <div class="title">区块链记录</div>
                                <div style="overflow-y: scroll;height: 80%;">
                                    <!-- <div ng-repeat="block in blockList" style="color: white;"> -->
                                    <div class="eventbox" ng-class="{'darkblue': block.number % 2 == 0}">
                                        <div class="eventmsgid eventmsggreen2">
                                            区块高度:
                                        </div>
                                        <div class="eventmsgtitle">
                                            交易信息散列编号:
                                        </div>
                                        <div class="eventmsgcontent">
                                            <div style="color:white;font-size: 0.8rem;text-overflow:ellipsis;overflow-x:hidden;;white-space:nowrap" ng-repeat="tx in block.transactions">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="xpanel-wrapper xpanel-wrapper-40" style="height:{{xpanel_wrapper_class}}%;">
                            <div class="xpanel xpanel-r-m">
                                <div class="title">医保端统计</div>
                                <div ng-repeat="agency in insuranceStat">
                                    <div class="linemsg">
                                        =
                                    </div>
                                    <div class="linemsg">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <a href="medicare">大屏</a> -->
    <!-- <medicare></medicare> -->
</body>