/* 数据可视化 - 大屏-去除百度地图-左下角LOGO */
.anchorBL {
    display: none;
}
/* 去除LOGO结束 */

.home-wrapper {
    background-image: url("../img/background.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    /* background-size: cover; */
}

@media (min-width: 980px) and (max-width: 1599px) {
    .home-container {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
        padding-top: 2rem;
        transform: none;
    }

    .home-container .editor{
        width: 100%;
    }
    /* 内容 */
    .home-container .home-content-box {
        margin-top: 3rem;
    }
    .home-list-box .home-list-icon {
        margin: 0;
        width: 2rem;
        height: 2rem;
    }
    .home-list-box .home-list-title {
        color: #fff;
        font-size: 1.3rem;
        font-weight: 700;
        margin-left: 2rem;
    }
    .home-content-box .home-list-box {
        width: 100%;
        height: 5rem;
        border-bottom: .1rem solid #403d3d5b;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        /* margin: 1.5rem 0; */
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .home-list-box:hover {
        background: rgba(255, 255, 255, .1);
        transition: background .5s;
    }
    .home-list-box:active {
        border: none;
        outline: none;
        background: rgba(184, 182, 182, 0.1);
        transition: background .5s;
    }
}

@media (min-width: 1600px) and (max-width: 2400px) {
    .home-container {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
        padding-top: 3rem;
        position: relative;
    }
    /* 内容 */
    .home-container .home-content-box {
        /* background-color: gray; */
        margin-top: 4rem;
        /* background: rgba(39, 46, 69 .6); */
    }
    .home-list-box .home-list-icon {
        margin: 0;
        width: 3.5rem;
        height: 3.5rem;
    }
    .home-list-box .home-list-title {
        color: #fff;
        font-size: 1.3rem;
        font-weight: 700;
        margin-left: 2rem;
    }
    .home-content-box .home-list-box {
        width: 100%;
        height: 6rem;
        border-bottom: .02rem solid #403d3d;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        /* margin: 1.8rem 0; */
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .home-list-box:hover {
        background: rgba(255, 255, 255, .1);
        transition: background .5s;
    }
    .home-list-box:active {
        border: none;
        outline: none;
        background: rgba(184, 182, 182, 0.1);
        transition: background .5s;
    }
}

.animatuon-home-list {
    animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
    from {
        opacity: .2;
    }
    to {
        opacity: 1;
    }
}

.home-top-box {
    /* animation: slideInFromTop 0.5s infinite;
    animation-direction: alternate; */
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: slideInFromTop;
}

@keyframes slideInFromTop {
    from {
        opacity: .2;
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}

.home-top-box .home-top-header-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-top-box .home-top-header-box .home-top-header-title {
    font-size: 2rem;
    line-height: 2rem;
    color: #fff;
    font-weight: 900;
}

.home-top-box .home-top-header-box .home-top-header-line {
    display: block;
    width: 8rem;
    height: .15rem;
    margin-top: .7rem;
    background-color: #A239CA;
    border-radius: .1rem;
}

.home-top-box .home-top-detail-box {
    margin-top: 2rem;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.home-top-box .home-top-btn-box {
    width: 18rem;
    height: 2.5rem;
    border-radius: .6rem;
    border: .1rem solid #A239CA;
    text-align: center;
    color: #A239CA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    cursor: pointer;
}


/* hover */

.home-top-btn-box:hover {
    background: rgba(162, 57, 202, .2);
    transition: background .5s;
}

.home-top-btn-box:active {
    background: rgba(143, 49, 180, 0.2);
    transition: background .5s;
    outline: none;
    border: .1rem solid rgba(143, 49, 180, 1);
}